.margin-auto {
	margin: auto;
}

.width-60 {
	width: 60%;
}

.primary-text {
	color: #9c27b0;
}

.card {
	margin-top: 2rem;
}
.index-page .main {
	height: 87vh;
}

.index-page .main .container {
	text-align: center;
}

.index-page .search-wrap {
	margin-top: 20rem;
}


/* Search result page */

.header {
	margin-top: 9rem;
}

.wrapper > .header {
	min-height: 80px;
}
