.margin-auto {
	margin: auto;
}

.width-60 {
	width: 60%;
}

.primary-text {
	color: #9c27b0;
}

.card {
	margin-top: 2rem;
}

.img-container {
	height: 215px;
	background-size: cover;
    background-position: center center;
}

.index-page .main {
	height: 87vh;
}

.index-page .main .container {
	text-align: center;
}

.index-page .search-wrap {
	margin-top: 20rem;
}


/* Search result page */

.header {
	margin-top: 8rem;
}

.wrapper > .header {
	min-height: 80px;
}

/* -------------- media ----------- */
@media only screen and (max-width : 767px) {
	.logo-container {
		text-align: center;
	}

	.img-container {
		width: 53%;
	}
}

@media only screen and (max-width : 992px) {
	.img-container {
		width: 73%;
	}
}